<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders> <!-- этот блок определяет куда писать лог (в консоль, в файл и тд) -->

        <!-- Console: чтобы видеть логи в окне Run -->
        <Console name="ConsoleLogger"
                 target="SYSTEM_OUT"> <!--name="ConsoleLogger" - может быть любым; target="SYSTEM_OUT" - стандартный вывод System.out -->
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %c %L %m%n"/> <!-- формат строки в консоли; %p - уровень логгирования; %c - имя логгера; %L - номер строки в коде; %m - текст сообщения; %n  - перенос строки -->
        </Console>

        <!-- File: чтобы писать лог в target/log-output/log_file.log -->
        <File name="FileLogger"
              fileName="target/log-output/log_file.log"
              append="true"
              createOnDemand="true"> <!--  append="true" - дописывать а не перезаписывать файл -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %c %L %m%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true"> <!-- Root - корневой логгер -->
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>

</Configuration>